.moja {
  padding: 30px;
  color: #00FFFF;
  font-size: 40px;
}
body {
  background-color: black;
  font-size: 20px;
}
.ping {
  padding: 30px;
}
.jumbotron {
  font-size: 100px;
  color: white;
  background-color: #000019;
}
.nne {
  color: white;
}
.saba {
  color: white;
  padding: 60px;
}
a.link {
  color: white;
}
.nane {
  padding: 60px;
}
#ping-pong {
  text-align: center;
  color: #00FFFF;
}
.kumi {
  text-align: center;
  color: #00FFFF;
}
