.moja {
  padding: 30px;
  color: white;
  font-size: 40px;
}
body {
  background-color: black;
  font-size: 20px;
}
.ping {
  padding: 30px;
}
.jumbotron {
  font-size: 100px;
  color: black;
}
.nne {
  color: white;
}
